<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Quiz Mater AdminDashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="ms-5 navbar-brand" href="#">BrainBuzz</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="d-flex justify-content-around navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto">
            <li class="ms-5 me-5 nav-item active">
              <a class="nav-link" href="/admin_dashboard">Home</a>
            </li>
            <li class="ms-5 me-5 nav-item">
              <a class="nav-link" href="/quizzes">Quiz</a>
            </li>

            <li class="ms-5 me-5 nav-item">
              <a class="nav-link" href="#">Summary</a>
            </li>
            <li class="ms-5 me-5 nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
          <form class="form-inline d-flex my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="ms-3 btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
      </nav>

      <div class="d-flex flex-wrap">
        {% if subjects %}
        {% for subject in subjects %}
        <section class="width main mt-5 ms-3">
          <h4 class="text-center"><span class="badge bg-success">{{ subject.name }}</span></h4> 
          <div class="text-center mt-3 mb-3">
            <a href="{{url_for('subject_form', subject_id=subject.id)}}" class="btn btn-warning me-5">Edit <i class="fa-solid fa-pencil"></i></a>
            <form action="{{url_for('delete_subject', subject_id=subject.id)}}" method="post" style="display: inline;" onsubmit="return confirm('Are you want to delete subject?')">
              <button type="submit" class="btn btn-danger">Delete <i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
          
          
          {% for chapter in chapters %}
          {% if chapter.subject_id==subject.id %}
          <table class="table">
            <thead class="bg-dark">
              <tr class="text-center">
                <th scope="col">Sl.</th>
                <th scope="col">Chapter Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="text-center">
                <th scope="row">{{chapter.id}}</th>


                <td>
                  <a href="{{ url_for('quiz_management', subject_id=subject.id, chapter_id=chapter.id)}}" class="text-decoration-none">
                    {{chapter.name}}
                  </a>
                </td>
                
                <td>
                  <a href="{{url_for('chapter_form', subject_id=subject.id, chapter_id=chapter.id)}}" class="btn btn-warning me-2">Edit <i class="fa-solid fa-pencil"></i></a> | 
                  <form action="{{url_for('delete_chapter', chapter_id=chapter.id)}}" method="POST" style="display: inline;">
                    <button type="submit" onclick="return confirm('Are you want to delete chapter?')" class="btn btn-danger">Delete <i class="fa-solid fa-trash"></i></button>
                  </form>
                </td>
              </tr>
            </tbody>
           
          </table>
          {% endif %}
          {% endfor%}

          <div class="d-flex justify-content-end">
            <a href="/chapter_form/{{subject.id}}"><button type="button" class="btn btn-primary">  <i class="fa-solid fa-plus"></i> Chapter</button></a>
          </div>
        </section>
        {% endfor %}
        {% endif %}  
        
      </div>
      
      <div class="d-flex justify-content-center mt-5">
        <a href="/subject_form" class="btn btn-info mb-5"><i class=" fa-solid fa-plus"></i> Add Subject</a>
      </div>
    </div>
  </body>
</html>
